<html>
<body>
    <br>
    <br>
    <h1> <b> API Webrtc Samples using Angular </b></h1>
<div>
    <app-header></app-header> 
    <div class="first_example">
        
        <!-- <h2>1. Basic <i> getUserMedia</i> demo </h2>
        <app-get-user-media-basic></app-get-user-media-basic> -->

        <h2>2. Use <i>getUserMedia with canvas: </i> </h2>
        <app-get-user-media-canvas></app-get-user-media-canvas>

        <!-- <h2>Basic peer connection demo in a single tab</h2>
        <app-basic-peer-connection-stab></app-basic-peer-connection-stab> -->

    </div>
</div>
</body>
</html>