
.first_example {
  margin-left: 5rem;
  margin-top: 18px;
}

body{
    background-color: cornsilk;
    background-image: url("\src\4276.1518788244.png");
    background-position: center;
    background-repeat: no-repeat;
}

h1{
  text-align:center;
  color: brown;
}

h2{
    color: black;
}